.paginator {
    margin: 10px;
    color: darkmagenta;
    height: 20px;
    width: 98%;

}

.pageNumber {
    padding: 2px;
    border: 1px solid seagreen;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}
