.formControl.errorInput,
.formControl.errorTextarea {
    border: solid red 2px;
}

.formControl.errorSpan {
    color: red;
}

.formError {
    border: red 1px solid;
    padding: 5px;
    color: goldenrod;
}
