.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;


}

.dialogsItems {
    padding: 10px;


}

.dialogsItems .active {
    color: #20B2AA;
}

.messages {
    padding: 10px;

}

.message {

}

.dialog img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}